body {
  background: linear-gradient(90deg, rgba(8,5,62,1) 0%, rgba(61,61,166,1) 31%, rgba(58,125,185,1) 72%, rgba(0,212,255,1) 100%);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px; 
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  max-width: 1200px; 
  margin-top: 30px; 
  width: 100%; 
}
  
  .movie-card {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  }
  
  .movie-card:hover img {
    filter: blur(5px);
  }
  
  .movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .movie-card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }
  
  .movie-card:hover .movie-card-description {
    transform: translateY(0);
  }
  
  .movie-card h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .movie-card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
  }
  
  .movie-card:hover p {
    display: block;
  }
  
  .movie-card p {
    display: none;
  }
  
  .movie-card:hover p {
    display: block;
    animation: fadeIn 1s;
  }


  @media (max-width: 767px) {
    .movie-container{
      margin: 10px;
    }
    .movie-card {
      margin: 10px 5px; 
      margin-top: 0; 
      align-self: flex-start;
    }
  
    .movie-card-description {
      padding: 10px; 
    }
    .movie-card:hover .movie-card-description {
      transform: translateY(0);
    }
  
    .movie-card h3 {
      font-size: 18px; 
      margin-bottom: 5px; 
    }
  
    .movie-card p {
      font-size: 12px; 
    }

  }




